{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 blog-head">
        <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 deet-div">
                    <div id="post-img-cont">
                        {% if post.image %}
                            <img src="/media/{{ post.image}}">
                        {% endif %}
                    </div>
                    <p><strong>Serves: </strong>{{ post.serves }} | <strong>Cooking Time: </strong>
                        {{ post.cooking_time }} | <strong>Difficulty: </strong>{{ post.difficulty }} |
                        <strong>Dietary Info: </strong>{{ post.diet_info }}</p>
                    <h5>Ingredients:</h5>
                    <p>{{ post.ingredients }}</p>
                    <h5>Directions</h5>
                    <p>{{ post.method }}</p>
                    <p><button class="btn btn-default" onclick="location.href='/blog'">Back To Recipes</button></p>
                    <p><strong>Published: </strong>{{ post.published_date }} | <strong>Views: </strong>{{ post.views }} |
                        <strong>Tags: </strong>{{ post.tag }}</p>
                    <p>{% load disqus_tags %} {% set_disqus_title post.title %} {% disqus_show_comments %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}