{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="about-page" class="container">
    <div id="about-header" class="row">
        <h1 class="col-xs-12"><b>OUR STORY</b></h1>
    </div>
    <div class="row" id="about-img">
        <img class="col-xs-12" src="{% static 'RO_images/chickpeas_Fotor.jpg' %}">
        <img class="col-xs-12" src="{% static 'RO_images/chickpeas_Fotor_blur.jpg' %}">
    </div>
    <div id="about-intro" class="row">
        <h2 class="col-xs-12">How We Began</h2>
        <p class="col-xs-12">It all started with a question - why isn't there a healthier, great-tasting,
            gluten-free pasta? With this in mind Nick bought a pasta press and took over his mums kitchen, convinced he
            could develop a pasta that worked harder to keep you healthy. His recipe experiments led him to chickpeas as
            the main ingredient; they are naturally packed with plant based protein, high in healthy fibre and lower in
            carbohydrates than wheat used in traditional pasta. All of this means a gluten-free pasta that packs a
            nutritional punch, keeps you fuller for longer and doesn't leave you feeling bloated. After countless
            varieties and with the pasta press on it's last legs, Root One was born! We've moved on from his mums
            kitchen but our mission remains the same: update the foods you know and love to make them healthier without
            losing their great taste.</p>
    </div>
    <div class="row about-section">
        <div class="col-md-7 col-xs-12">
            <h3>The Pasta</h3>
            <p>Pulses have had a big year: in recognition of the nutritional benefits of eating more pulses and to
                encourage people to try them the United Nations named 2016 The International Year of Pulses. We agree
                with them! Root One pasta is make from Chickpeas & Lentils because not only do they make delicious
                gluten-free pasta but they are also rich in complex carbohydrates and fibre, which means they are slowly
                digested and give a feeling of satiety. Pulses promote a steady, slow-burning energy while their iron
                content helps transporting oxygen throughout the body, which boosts energy production and metabolism.
                The fibre in pulses is not generally absorbed by the body and therefore helps keep your gut healthy.
                It also serves to bind toxins and cholesterol in the gut so these substances can be removed from the
                body; this improves heart health and lowers blood cholesterol. </p>
        </div>
        <div class="col-md-5"><img src="{% static 'RO_images/29_10_2016/Renew Foods Small-11.jpg' %}"></div>
    </div>
    <div class="row about-section">
        <div class="col-md-7 col-xs-12">
            <h3>Meet the man who Started it all, Nick</h3>
            <p id="nick-about">Nick grow up in the South Buckinghamshire area growing up in a household that always cared about food.
                From learning to cook in Food Tech GCSE, to making concoctions in his Kitchen, Nick has always been
                creating new and exciting foods. <br><br>He is currently studying for his MSc in Global
                Public Health Nutrition at the University of Westminster in London. In his spare time you'll find him
                in the kitchen working on recipes for Root One or out with friends doing his favourite activity: eating
                great food with great company!</p>
        </div>
        <div class="col-md-5"><img src="{% static 'RO_images/29_10_2016/Renew Foods Small-14.jpg' %}"></div>
    </div>
</div>
{% endblock %}