{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="homeBckgrnd" class="containter">
        <a><img src="{% static 'RO_images/Root_One_Green.png' %}" alt="nameFont"></a>
        <h2><b>A healthfood company with focus on high nutrients, and less junk!</b></h2>
        <div class="container" id="update-flatpage">
            {% block morecontent %}
            {% endblock %}
        </div>
        <div class="containter">
            <div class="HomeInfo" id="firstHomeInfo">
                <h2><b>High Protein, Low Carb, Great taste!</b></h2>
                <h4>Our mission for people to love healthy food</h4>
                <p>We at Root One are focused on using good quality ingredients to make food
                that is not only good food for you, but tastes great! It all started with our
                revolutionary pasta. To find out how we began, head over to the about page.
                If you aren't interested in reading, and just want to know what we have to offer,
                head to our products page. If you have shopped with us before, but are looking for
                inspiration on what to use our products for, take a look at our recipes page. </p>
                <img src="{% static 'RO_images/past_home_banner_Fotor.jpg' %}" id="index-banner">
            </div>
        </div>
    </div>
{% endblock %}