{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Purchase</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="product-thumbnail"><img src="/media/{{ product.primary_image }}"></td>
                    <td>{{ product.name }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.paypal_form.sandbox }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}